.no-notes{
  padding-top:1%;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
    background-color:#fafaff;
}

.body{
    background-color:#dfdfdf;
}

.card-notes{
height:400px;
margin:0.5%;
margin-left:1%;
}

.note-title{
    border:none;
    background-color:#efefef;
    width:100%;
    margin:0%;
}