.no-notes{
  padding-top:1%;
  text-align: center;
}

.body{
    background-color:#dfdfdf;
}

.card-notes{
margin:0.5%;
margin-left:1%;
}

.grey-title{
    background-color:#efefef;
}

.note-title{
    border:none;
    background-color:#efefef;
    margin:0%;
    font-size:30px;
    margin-bottom:0px;
}
.note-detail{
  text-align: center;
  height:100%;
  margin:auto;
  margin-top:0px;
  border:none;
  background-color:#efefef;
  width:95%;
}

.new-note{
    margin-left:1%;
}