{% extends "base.html" %}
{% load static %}

{% block title%}Register{% endblock %}
{% block content%}
<link rel="stylesheet" href="{% static 'account/style.css'%}">
<div class="body">
    <div class="shadow input-block">
        <h1>Register</h1>
        <hr>
        {% if messages %}
        {% for message in messages %}
        <h4>{{ message }}</h4>
        {% endfor%}
        {% endif %}
        <form class="was-validated" action="" method="Post">{% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1" style="width:95px;">Username</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                       aria-describedby="basic-addon1" name="username" maxlength="21" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2" style="width:95px;">Password</span>
                <input type="password" class="form-control" placeholder="Password"
                       aria-label="Recipient's username"
                       aria-describedby="basic-addon2" name="password" maxlength="21" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Email</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                       placeholder="Email" name="email" maxlength="320" required>
            </div>


            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="First Name" aria-label="FirstName"
                       name="first_name" maxlength="100">
                <input type="text" class="form-control" placeholder="Last Name" aria-label="LastName" name="last_name"
                       maxlength="100">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Register</button>
                <a href="/account/login" class="link-dark">Already have account.</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}